<link rel="stylesheet" href="../CSS/filmDescription.css">

<body>
    <%- include('partials/navbar') %>

        <div class="movie_card" id="ave">
            <div class="info_section">
                <div class="movie_header">
                    <img class="locandina" src=<%="https://image.tmdb.org/t/p/original" + result[0].Poster %> />
                    <h1><a href=<%="/viewFilm/" + result[0].TMDB_ID %> data-id= <%= "" + result[0].TMDB_ID %>>
                                <%= "" + result[0].Title %>
                        </a></h1>
                    <!-- <span class="minutes"> <%= "" + result[0].Run_Time %> </span> -->
                    <!-- <p class="type"> </p>  -->
                </div>
                <div class="movie_desc">
                    <p class="text">
                        <%= "" + result[0].Description %>
                    </p>
                </div>
            </div>
            <!-- <div> -->
            <img class="blur_back" alt="" src= <%="https://image.tmdb.org/t/p/original" + result[0].Backdrop %> >
            <!-- </div> -->
        </div>

        <div class="showtimes">
            <div class="labelhead">
                Showtimes
            </div>
            
            <div class="tabs">
                <% const weekdays = ["Sun", "Mon", "Tue", "Wed", "Thur", "Fri", "Sat"]; %>
                <% let i = 0; %>
                <% while(i<7) { %>
                <span data-tab-value= <%= "#" + weekdays[(result[0].Day + i - 1)%7] %> > <%= weekdays[(result[0].Day + i - 1)%7] %> </span>
                <% i++;} %>
            </div>
          
            <div class="tab-content">
                <% let j = 0; %>
                <% while(j < 7) { %>
                    <% if (j==0) { %>
                    <div class="tabs__tab active" data-tab-info id= <%= weekdays[(result[0].Day+j-1)%7] %> >
                        <p> <%= "Content: " + weekdays[(result[0].Day+j-1)%7] %> </p></div>
                    <% } else { %>
                    <div class="tabs__tab" data-tab-info id= <%= weekdays[(result[0].Day+j-1)%7] %> >
                        <p> <%= "Content: " + weekdays[(result[0].Day+j-1)%7] %> </p></div>
                <% }j++;} %>
               
            </div>
            <script type="text/javascript">
                const tabs = document.querySelectorAll('[data-tab-value]')
                const tabInfos = document.querySelectorAll('[data-tab-info]')
          
                tabs.forEach(tab => {
                    tab.addEventListener('click', () => {
                        const target = document
                            .querySelector(tab.dataset.tabValue);
          
                        tabInfos.forEach(tabInfo => {
                            tabInfo.classList.remove('active')
                        })
                        target.classList.add('active');
                    })
                })
            </script>
        </div>

</body>