<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/Home.css" media="screen">
  <link rel="stylesheet" href="../CSS/moviecard.css">
  <script class="u-script" type="text/javascript" src="../JS/jquery.js" defer=""></script>

  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
  <link id="u-page-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">

  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  <meta name="theme-color" content="#478ac9">
  <meta property="og:title" content="Home">
  <meta property="og:type" content="website">
</head>

<body class="u-body u-xl-mode" data-lang="en">
  <%- include('partials/navbar') %>

    <script>
      document.getElementById("home").className = "nav-link active"
      document.getElementById("about").className = "nav-link"
      document.getElementById("contact").className = "nav-link"
      document.getElementById("signin").className = "nav-link"
    </script>

    <div id="main">
      <div id="labelhead">
        Coming Soon
      </div>
      <div id="coming_soon" class="carousel"
        data-flickity='{ "autoPlay": 2000, "pauseAutoPlayOnHover": true, "groupCells": 3, "adaptiveHeight": true }'>
        <% while (iterator_CS>= 0) { %>
          <div class="carousel-cell">
            <div class="card" style="width:18rem;">
              <img class="card-img-top" src=<%="https://image.tmdb.org/t/p/original" + CS[iterator_CS].Poster %> >
              <div class="play--overlay">
                <div class="play-button"><a class="trailer-link" href=<%="" +CS[iterator_CS].Trailer_Link %>
                    target="_blank" class="glightbox_video">
                    <svg width="100" height="100" viewBox="0 0 131 131" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path class="inner-circle"
                        d="M65 21C40.1488 21 20 41.1488 20 66C20 90.8512 40.1488 111 65 111C89.8512 111 110 90.8512 110 66C110 41.1488 89.8512 21 65 21Z"
                        fill="white"></path>
                      <circle class="outer_circle" cx="65.5" cy="65.5" r="64" stroke="white"></circle>
                      <path class="play" fill-rule="evenodd" clip-rule="evenodd" d="M60 76V57L77 66.7774L60 76Z"
                        fill="#BF2428"></path>
                    </svg></a></div>
              </div>
            </div>
          </div>
          <% iterator_CS--; } %>
      </div>

      <div class="showing">
        <div id="labelhead">
          Now Showing
        </div>
        <% while (iterator_NS>= 0) { %>
            <div id="now_showing" class="showing-layout">
              <div class="movie_card" id="ave">
                <div class="info_section">
                  <div class="movie_header">
                    <img class="locandina" src=<%="https://image.tmdb.org/t/p/original" + NS[iterator_NS].Poster %> />
                    <h1><a href= <%= "/viewFilm/" + NS[iterator_NS].TMDB_ID %> data-id= <%= "" + NS[iterator_NS].TMDB_ID %>>
                        <%= "" + NS[iterator_NS].Title %>
                      </a></h1>
                    <h4>
                      <%= "" + NS[iterator_NS].Year %>
                    </h4>
                    <!-- <span class="minutes"> <%= "" + NS[iterator_NS].Run_Time %> </span> -->
                    <!-- <p class="type"> </p>  -->
                  </div>
                  <div class="movie_desc">
                    <p class="text">
                      <%= "" + NS[iterator_NS].Description %>
                    </p>
                  </div>
                </div>
                <!-- <div> -->
                  <img class="blur_back" src=<%="https://image.tmdb.org/t/p/original" + NS[iterator_NS].Backdrop %> alt="">
                <!-- </div> -->
              </div>
            </div>
            <% iterator_NS--; } %>
</body>

</html>