<link rel="stylesheet" href="../CSS/viewFilmStyle.css">
<h1>Hello World!</h1>
<h3><%= name %></h3>
<img src="<%=cover_img%>" alt="film cover">
<h2><%= genre %></h2>
<h2><%= desc_ %></h2>
<h2>Run Time: <%= run_time %> minutes</h2>
<h2>Rating: <%= rating %></h2>
<h2>Starting From <%= start_date.getFullYear() %> - <%= start_date.getMonth() %> - <%= start_date.getDate() %> till <%= end_date.getFullYear() %> - <%= end_date.getMonth() %> - <%= end_date.getDate() %></h2>
<a href="/getShows/<%= name %>/<%= filmID %>"><button>Book Ticket Now</button></a>