<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<%- include('partials/navbar') %>
    
<div class="container mt-5">
  <h1>Employee Information</h1>
  <h2>Name: <%= name %></h2>
  <h2>Email Address: <%= email %></h2>
  <h2>Phone Number: <%= phone %></h2>
  <h2>CNIC Number: <%= cnic %></h2>
  <h2>Job: <%= jobTitle %></h2>
  <h2>Hire Date: <%= hireDate.getFullYear() %> - <%= hireDate.getMonth() %> - <%= hireDate.getDate() %></h2>
  <a href="/"><button class="btn btn-secondary">Back To Home</button></a>
</div>
