<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<%- include('partials/navbar') %>


  <div class="container mt-5">
    <%= message %>
    <h1 class="mt-5 mb-5">Enter Employee ID</h1>
    <form action="/getEmployee" method="post">
      <div class="form-group">
        <label for="empId">Employee ID</label>
        <input type="number" name="empId" id="empId" class="form-control">
      </div>
      <button class="btn btn-primary">Submit</button>
    </form>
    <table class="table">
      <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Email Address</th>
        <th>Phone Number</th>
        <th>CNIC Number</th>
        <th>Job</th>
        <th>Hire Date</th>
      </thead>
      <tbody>
        <% let i=0 %>
        <% while (i <= iterator && result[i]){ %>
          <tr id="<% result[iterator].Emp_ID %>">
            <td>
             <%= result[i].Emp_ID %>
            </td>
            <td>
              <%= result[i].fName+" "+result[i].lName %>
            </td>
            <td>
              <%= result[i].Email %>
            </td>
            <td>
              <a><%= result[i].Phone %></a>
            </td>
            <td>
              <%= result[i].CNIC %>
            </td>
            <td>
              <%= result[i].JobTitle %>
            </td>
            <td>
              <%= result[i++].HireDate %>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </div>

  <script>
    function buttonClick(){
      console.log(result);  
      alert("Hello World");
    }
  </script>